<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title th:text="${user.username}">Your profile</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header(page = 'myProfile')"></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <img class="rounded" th:src="@{~/images/{img}.jpg(img = ${user.image})}" />
                </div>
                <div class="col-md-9">
                    <h3 th:text="${user.username}">
                        John Doe
                    </h3>
                    <p>
                        Signed up <span th:text="${@timeUtil.convertToPrettyTime(user.registrationDate)}"></span>
                    </p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeImageFormModal">
                        Change profile image
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>
                Tracks
            </h2>
            <p th:if="${#lists.isEmpty(uploadedTracks)}">You haven't uploaded any tracks</p>
            <ul class="list-unstyled">
                <li th:each="track: ${uploadedTracks}">
                    <a th:href="@{~/track/{id}(id = ${track.id})}"
                       th:text="${track.artist} + ' – ' + ${track.name}"></a>
                </li>
            </ul>
            <a class="text-dark font-weight-bold" th:href="@{~/uploadTrack}">Upload new track</a>
        </div>
        <div class="col-md-4">
            <h2>
                Playlists
            </h2>
            <p th:if="${#lists.isEmpty(createdPlaylists)}">You don't have any playlists</p>
            <ul class="list-unstyled">
                <li th:each="playlist: ${createdPlaylists}">
                    <a th:href="@{~/playlist/{id}(id = ${playlist.id})}" th:text="${playlist.name}"></a>
                </li>
            </ul>
            <a class="text-dark font-weight-bold" th:href="@{~/playlist/new}">Create new playlist</a>
        </div>
        <div class="col-md-4">
            <h2>
                Comments
            </h2>
            <p th:if="${#lists.isEmpty(lastComments)}">You haven't left any comments</p>
            <ul class="list-unstyled">
                <li th:each="comment: ${lastComments}">
                    <small>
                        To <a th:href="@{~/track/{id}(id = ${comment.track.id})}" th:text="${comment.track.artist} + ' – ' + ${comment.track.name}"></a> at
                        <span th:text="${comment.commentDate}"></span>
                    </small>
                    <p th:text="${comment.text}"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h2>
                        Liked tracks
                    </h2>
                    <p th:if="${#lists.isEmpty(likedTracks)}">You haven't liked any tracks</p>
                    <ul class="list-unstyled">
                        <li th:each="track: ${likedTracks}">
                            <a th:href="@{~/track/{id}(id = ${track.id})}"
                               th:text="${track.artist} + ' – ' + ${track.name}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h2>
                        Liked playlists
                    </h2>
                    <p th:if="${#lists.isEmpty(likedPlaylists)}">You haven't liked any playlists</p>
                    <ul class="list-unstyled">
                        <li th:each="playlist: ${likedPlaylists}">
                            <a th:href="@{~/playlist/{id}(id = ${playlist.id})}" th:text="${playlist.name}"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="changeImageFormModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change profile image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{~/user/uploadImage}" enctype="multipart/form-data" id="uploadImageForm">
                    <div class="form-group">
                        <label for="imageFile">Choose image</label>
                        <input type="file" required class="form-control-file" id="imageFile" name="imageFile" accept="image/png, image/jpeg">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button form="uploadImageForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>


