<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title>Test page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header(page = 'home')"></nav>
            <div class="jumbotron">
                <h2>
                    Your favorite music service
                </h2>
                <p>
                    Explore new music, create playlists, upload your own music and share it with friends!
                </p>
                <div th:if="${currentUser == null}" class="btn-group" role="group">
                    <a class="btn btn-secondary" th:href="@{~/registration}">Sign up</a>
                    <a class="btn btn-secondary" th:href="@{~/login}">Sing in</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>
                Explore new music
            </h3>
            <p>
                Check out new tracks that our users uploaded
            </p>
            <ul class="list-unstyled">
                <li th:each="track: ${lastTracks}">
                    <a th:href="@{~/track/{id}(id = ${track.id})}"
                       th:text="${track.artist} + ' – ' + ${track.name}"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                Check new playlists
            </h3>
            <p>
                Listen new music collections that our users created
            </p>
            <ul class="list-unstyled">
                <li th:each="playlist: ${lastPlaylists}">
                    <a th:href="@{~/playlist/{id}(id = ${playlist.id})}" th:text="${playlist.name}"></a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>
                Subscribe to new users
            </h3>
            <p>
                Explore new users of our service and find new friends
            </p>
            <ul class="list-unstyled">
                <li th:each="user: ${lastUsers}">
                    <a th:href="@{~/user/{username}(username = ${user.username})}" th:text="${user.username}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>