<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title>Sign in</title>
</head>
<body>
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header(page = 'login')"></nav>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-4" method="post" th:action="@{~/login}">
            <img class="mx-auto d-block" th:src="@{~/images/funsymusic.png}" width="72" height="72">
            <h2 class="text-center">Please sign in</h2>
            <span th:if="${loginError}" class="text-danger">Wrong username or password</span>
            <input type="text" id="username" name="username" class="form-control" placeholder="username" required autofocus>
            <input type="password" id="password" name="password" class="form-control" placeholder="password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="text-center">Funsymusic &copy; 2020</p>
        </form>
    </div>
</div>
</body>
</html>