<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title th:text="${playlist.name}">Playlist</title>
    <meta id="data" th:attr="
        data-playlistId=${playlist.id},
        data-savePlaylistUrl=@{~/playlist/savePlaylist},
        data-getTracksUrl=@{~/playlist/getTracks},
        data-trackUrl=@{~/track/}
    "/>
</head>
<body>
<div class="container">
    <h1>Playlist</h1>
    <dl>
        <dt>Name:</dt>
        <dd th:text="${playlist.name}">Chill music</dd>
    </dl>
    <p th:if="${#lists.isEmpty(playlist.tracks)}">This playlist is empty.</p>
    <ul id="trackList" class="list-group"></ul>
    <div th:if="${playlist.owner == currentUser}">
        <button id="editPlaylistBtn" class="btn btn-info">Edit</button>
        <button id="cancelEditingBtn" class="btn btn-secondary">Cancel</button>
        <button id="savePlaylistBtn" class="btn btn-success">Save</button>
    </div>

</div>
<script th:src="@{~/js/playlist.js}"></script>
</body>
</html>