<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.0.3/dist/amplitude.js"></script>
    <link rel="stylesheet" th:href="@{~/css/player.css}">
    <meta id="data" th:attr="
        data-playlistId=${playlist.id},
        data-itemId=${playlist.id},
        data-savePlaylistUrl=@{~/playlist/savePlaylist},
        data-getTracksUrl=@{~/playlist/getTracks},
        data-trackUrl=@{~/track/},
        data-getLikeStatusUrl=@{~/like/playlist},
        data-performLikeUrl=@{~/like/playlist/perform}
    "/>
    <title th:text="${playlist.name}">Playlist</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header"></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!--PLAYER START-->
            <!-- Amplitude Player -->
            <div id="amplitude-player">

                <!-- Left Side Player -->
                <div id="amplitude-left">
                    <img data-amplitude-song-info="cover_art_url" class="album-art"/>
                    <div class="amplitude-visualization" id="large-visualization">

                    </div>
                    <div id="player-left-bottom">
                        <div id="time-container">
							<span class="current-time">
								<span class="amplitude-current-minutes" ></span>:<span class="amplitude-current-seconds"></span>
							</span>
                            <div id="progress-container">
                                <div class="amplitude-wave-form">

                                </div>
                                <input type="range" class="amplitude-song-slider"/>
                                <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                                <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
                            </div>
                            <span class="duration">
								<span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
							</span>
                        </div>

                        <div id="control-container">
                            <div id="repeat-container">
                                <div class="amplitude-repeat" id="repeat"></div>
                                <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                            </div>

                            <div id="central-control-container">
                                <div id="central-controls">
                                    <div class="amplitude-prev" id="previous"></div>
                                    <div class="amplitude-play-pause" id="play-pause"></div>
                                    <div class="amplitude-next" id="next"></div>
                                </div>
                            </div>

                            <div id="volume-container">
                                <div class="volume-controls">
                                    <div class="amplitude-mute amplitude-not-muted"></div>
                                    <input type="range" class="amplitude-volume-slider"/>
                                    <div class="ms-range-fix"></div>
                                </div>
                                <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle-right"></div>
                            </div>
                        </div>

                        <div id="meta-container">
                            <span data-amplitude-song-info="name" class="song-name"></span>

                            <div class="song-artist-album">
                                <span data-amplitude-song-info="artist"></span>
                                <span data-amplitude-song-info="album"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Left Side Player -->

                <!-- Right Side Player -->
                <div id="amplitude-right">

                </div>
                <!-- End Right Side Player -->
            </div>
            <!-- End Amplitdue Player -->
            <!--PLAYER END-->
        </div>
        <div class="col-md-4">
            <h1 class="display-4" th:text="${playlist.name}"></h1>
            <p><small>Created by <a th:text="${playlist.owner?.username ?: 'Deleted user'}"
                                     th:href="@{~/user/{id}(id = ${playlist.owner?.username})}"/><span th:text="${' ' + @timeUtil.convertToPrettyTime(playlist.createDate)}"></span></small></p>
            <p th:if="${#lists.isEmpty(playlist.tracks)}">This playlist is empty.</p>
            <button id="like" class="btn btn-primary"></button>
            <ul id="trackList" class="list-group"></ul>
            <div th:if="${playlist.owner == currentUser}">
                <button id="editPlaylistBtn" class="btn btn-info">Edit</button>
                <button id="cancelEditingBtn" class="btn btn-secondary">Cancel</button>
                <button id="savePlaylistBtn" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{~/js/playlist.js}"></script>
<script th:src="@{~/js/like.js}"></script>
<script th:src="@{~/js/playlistPlayer.js}"></script>
</body>
</html>