<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title>Sign in</title>
</head>
<body>
<div class="container h-100">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header(page = 'registration')"></nav>
        </div>
    </div>
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-md-4" method="post" th:object="${userForm}">
            <img class="mx-auto d-block" th:src="@{~/images/funsymusic.png}" width="72" height="72">
            <h2 class="text-center">Create account</h2>
            <ul th:if="${#fields.hasErrors('*')}" class="list-unstyled">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}" class="text-danger">Input is incorrect</li>
            </ul>
            <input type="text" th:field="*{username}" class="form-control" th:errorclass="is-invalid" placeholder="username" required autofocus>
            <input type="password" th:field="*{password}" class="form-control" th:errorclass="is-invalid" placeholder="password" required>
            <input type="password" th:field="*{passwordConfirm}" class="form-control" th:errorclass="is-invalid" placeholder="password confirmation" required>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <p class="text-center">Funsymusic &copy; 2020</p>
        </form>
    </div>
</div>
</body>
</html>