<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title>Create new account</title>
</head>
<body>
<div class="container">
    <h1>Create account</h1>
    <form method="POST" th:object="${userForm}">
        Username: <input th:field="*{username}">
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</p>
        Password: <input th:field="*{password}">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect Password</p>
        Confirm password: <input th:field="*{passwordConfirm}">
        <p th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Incorrect Password</p>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button>Confirm</button>
    </form>


</div>
</body>
</html>