<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title>Save uploaded track</title>
</head>
<body>
<div class="container">
    <h1>Edit track information</h1>
    <form th:action="@{/uploadTrack/save}" th:object="${track}" method="POST">
        Name: <input type="text" th:field="*{name}" th:errorclass="invalidInput">
        Artist: <input type="text" th:field="*{artist}" th:errorclass="invalidInput">
        Length: <span th:text="*{length}">120</span>
        <input type="hidden" th:field="*{mediaFileName}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="submit" th:value="Save">
    </form>


</div>
</body>
</html>