<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title th:text="${track.name}"></title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@v5.0.3/dist/amplitude.js"></script>
    <link rel="stylesheet" th:href="@{~/css/player.css}">
    <meta id="data" th:attr="
        data-trackId=${track.id},
        data-itemId=${track.id},
        data-getPlaylistsUrl=@{~/playlist/trackInPlaylists},
        data-addTrackUrl=@{~/playlist/addTrack},
        data-removeTrackUrl=@{~/playlist/removeTrack},
        data-getCommentsUrl=@{~/track/comments},
        data-addCommentUrl=@{~/track/addComment},
        data-getLikeStatusUrl=@{~/like/track},
        data-performLikeUrl=@{~/like/track/perform},
        data-trackName=${track.name},
        data-trackUrl=@{~/media/audio/{id}(id = ${track.id})},
        data-trackArtist=${track.artist}
    "/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header"></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!--    PLAYER START-->
            <!-- Amplitude Player -->
            <div id="amplitude-player">

                <!-- Left Side Player -->
                <div id="amplitude-left" class="width100">
                    <img data-amplitude-song-info="cover_art_url" class="album-art"/>
                    <div class="amplitude-visualization" id="large-visualization">

                    </div>
                    <div id="player-left-bottom">
                        <div id="time-container">
							<span class="current-time">
								<span class="amplitude-current-minutes" ></span>:<span class="amplitude-current-seconds"></span>
							</span>
                            <div id="progress-container">
                                <div class="amplitude-wave-form">

                                </div>
                                <input type="range" class="amplitude-song-slider"/>
                                <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                                <progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
                            </div>
                            <span class="duration">
								<span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
							</span>
                        </div>

                        <div id="control-container">
                            <div id="repeat-container">
                                <div class="amplitude-repeat" id="repeat"></div>
                                <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
                            </div>

                            <div id="central-control-container">
                                <div id="central-controls">
                                    <div class="amplitude-prev" id="previous"></div>
                                    <div class="amplitude-play-pause" id="play-pause"></div>
                                    <div class="amplitude-next" id="next"></div>
                                </div>
                            </div>

                            <div id="volume-container">
                                <div class="volume-controls">
                                    <div class="amplitude-mute amplitude-not-muted"></div>
                                    <input type="range" class="amplitude-volume-slider"/>
                                    <div class="ms-range-fix"></div>
                                </div>
                                <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle-right"></div>
                            </div>
                        </div>

                        <div id="meta-container">
                            <span data-amplitude-song-info="name" class="song-name"></span>

                            <div class="song-artist-album">
                                <span data-amplitude-song-info="artist"></span>
                                <span data-amplitude-song-info="album"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Left Side Player -->
            </div>
            <!-- End Amplitdue Player -->
            <!--    PLAYER END-->
        </div>
        <div class="col-md-8">
            <h1 class="display-4" th:text="${track.name}"></h1>
            <p th:text="'by ' + ${track.artist}"></p>
            <p><small>Uploaded by <a th:text="${track.uploader?.username ?: 'Deleted user'}"
                                     th:href="@{~/user/{id}(id = ${track.uploader?.username})}"/><span th:text="${' ' + @timeUtil.convertToPrettyTime(track.uploadDate)}"></span></small></p>
            <button id="like" class="btn btn-primary"></button>
            <div class="row" th:unless="${currentUser == null}">
                <div class="col">
                    <button id="playlistsWithTrackToggle" type="button" class="btn btn-outline-info">Add to playlists
                    </button>
                    <ul id="playlistsWithTrack"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div th:unless="${currentUser == null}">
                        <form id="addCommentForm">
                            <div class="form-group">
                                <label for="commentTextarea">Leave your comment</label>
                                <textarea class="form-control" id="commentTextarea" rows="3" name="text"></textarea>
                                <input type="hidden" name="trackId" th:value="${track.id}"/>
                            </div>
                        </form>
                        <button id="addCommentBtn" class="btn btn-primary">Save</button>
                    </div>
                    <h6>Comments</h6>
                    <ul id="commentSection" class="list-unstyled"></ul>
                </div>
            </div>

        </div>
    </div>

</div>

<script th:src="@{~/js/addTrackInPlaylist.js}"></script>
<script th:src="@{~/js/comments.js}"></script>
<script th:src="@{~/js/like.js}"></script>
<script th:src="@{~/js/player.js}"></script>
<script th:src="@{~/js/initTrackPlayer.js}"></script>
</body>
</html>