<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title th:text="${track.name}">Track</title>
    <meta id="data" th:attr="
        data-trackId=${track.id},
        data-getPlaylistsUrl=@{~/playlist/trackInPlaylists},
        data-addTrackUrl=@{~/playlist/addTrack},
        data-removeTrackUrl=@{~/playlist/removeTrack}
    "/>
    <script th:src="@{~/js/addTrackInPlaylist.js}"></script>
</head>
<body>
<div class="container">


    <h1>Track</h1>
    <dl>
        <dt>Name:</dt>
        <dd th:text="${track.name}">Never Gonna Give You Up</dd>
        <dt>Artist:</dt>

        <dd th:text="${track.artist}">Rick Astley</dd>
        <dt>Length:</dt>
        <dd th:text="${track.length}">3:22</dd>
        <dt>Uploaded by:</dt>
        <dd><a th:text="${track.uploader?.username ?: 'Deleted user'}" th:href="@{~/user/{id}(id = ${track.uploader?.username})}">John Doe</a></dd>
        <audio controls>
            <source th:src="@{~/media/audio/{id}(id = ${track.id})}" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>
    </dl>


    <div th:unless="${currentUser == null}">
        <button id="playlistsWithTrackToggle" type="button" class="btn btn-outline-info">Info</button>
        <ul id="playlistsWithTrack"></ul>
    </div>


</div>
</body>
</html>