<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title th:text="${user.username}">Home page</title>
</head>
<body>
<div class="container">
    <h1 th:text="${user.username}"></h1>
    <ul>
        <li th:each="track : ${uploadedTracks}"><a th:href="@{~/track/{id}(id = ${track.id})}" th:text="${track.name}"></a></li>
    </ul>


</div>
</body>
</html>