<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="fragments/general.html :: head"/>
    <title>Test page</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav th:replace="fragments/general.html :: header(page = 'users')"></nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Browse new users
            </h3>
            <p>
                Check new users, find friends and people with similar musical taste!
            </p>
            <a th:if="${hasPreviousPage}" th:href="@{~/browse/users(page = ${currentPage - 1})}" class="btn btn-outline-secondary">Prev</a>
            <a th:if="${hasNextPage}" th:href="@{~/browse/users(page = ${currentPage + 1})}"  class="btn btn-outline-secondary">Next</a>
            <ul class="list-unstyled">
                <li th:each="user: ${users}">
                    <a th:href="@{~/user/{username}(username = ${user.username})}" th:text="${user.username}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>